body * {
  box-sizing: border-box;
}

.App {
  position: relative;
}

#searchArea,
#savedArea {
  display: inline-block;
}

#searchArea {
  width: 60%;
  position: absolute;
  left: 0;
  border-right: 0.5px solid lightgrey;
  padding-right: 0.67rem;
}

#resultArea {
  position: relative;
  top: 230px;
}

#savedArea {
  width: 40%;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 1rem;
  padding-left: 0.67rem;
}
